.logo {
    line-height: 60px;
    margin: 0px;
    margin-top: -10px;
  }
  .logoFrancisco {
    font-weight: 900;
    font-size: 40px;
  }
  .logoXifra {
    font-weight: 900;
    font-size: 80px;
    color: #DD8D38;
  }
  .musicIcon {
    width: 40px;
  }