.app {
  text-align: center;
  background-color: #282c34;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EFEAE6;
  padding: 20px 0;
}




.locationContainer {
  margin: 0;
}

.iconosContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px
}

.icono {
  color: #EFEAE6;
  font-size: calc(20px + 8vmin);
  margin-right: 20px;

}

.icono:hover {
  color: #ffc57d;

}


.buskingCity {
  margin-top: 0;
  margin-bottom: 10px
}

.currentlyParagraph {
  margin-bottom: 0;
  font-size: .8em;
}

.reproductor {
  max-width: 90%;
  min-width: 300px;
  width: 600px;
  height: 400px;
}

.tipMe {
  background-color: #EE5830;
  color: white;
  display: flex;

  font-size: 16px;
  font-weight: 400;
  width:250px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-radius: 30px;
  margin: 30px 0;
  margin-top: 0px;

}

.tipMe:hover {
  background-color: #e95026;;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;



}

.linkTip {
  text-decoration: none;
}

.tipMeTexto {
  flex: 3;
  padding: 15px;
  text-decoration: none;
}

.buskIcon {
  background-color: rgba(40, 44, 52, 0.17);
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 0 30px 30px 0;

}


.mapsLink {
  text-decoration: none;
  color: #EFEAE6;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.video {
  max-width: 550px;
  margin: 20px 0 0 0;
  min-height: 315px;
}

@media screen and (max-width:600px) {
  .video {
    max-width: 90%;
    min-height: 200px;

  }
}

.iconoPatreon {
  color:white;
  font-size: 35px;
}

.patreon {
  background-color: rgb(255, 66, 77);
  color:white;
  margin-top: 30px;
}

.patreon:hover {
  background-color:#ED473D
}